{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><strong>Acme Corp</strong></li>
        </ul>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <article>
        <form method="get">
            <fieldset role="group">
                <input
                        type="text"
                        name="search"
                        placeholder="Enter a name or an email"
                />
                <input type="submit" value="Search" />
            </fieldset>
        </form>
    </article>
    <article>
        <table>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}